/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.search-form {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  padding: 24px;
  gap: 8px;
  width: 100%;
}

input {
  width: 272px;
  max-height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 8px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #4e75ee;
}

.btn-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #FFFFFF;
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404BBF;
}


* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-link {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 250ms ease-in-out;
}

.gallery-link:hover {
  transform: scale(1.03)
}

.img-gallery {
  width: 360px;
  height: 152px;
  object-fit: cover;
  border: 1px solid #808080;
}

.list-wrapper {
  padding: 5px 20px;
  width: 360px;
  display: flex;
  text-align: center;
  gap: 16px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  align-items: center;
}

.text-content {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.container-load-more {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.btn-load-more {
  width: 125px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate (-50%, -50%);
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
